@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%;}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: black !important;
}

p{
    color: grey;
}

h2{
    font-weight: 700 !important;
    font-size: 18px !important;
    color: #fff;
}