@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%;}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: black !important;
}

canvas{
    background-color: #222;
    width:100%;
    border-style: solid;
    border-width:1px 1px 1px 1px;
    border-color: #333;
}

p{
    color: grey;
}

h1{
    color:beige;
    padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 2%;
   background-color: black;
   width:100%;
    
}