form{
    color:fff;
}

#formula{
    color:#fff;
    font-size: xx-large;
}

#result{
    color:#fff;
    font-size: xx-large;
}

input{
    border-radius: 20px;
}

#calc{
    padding: 50px 50px 50px 50px;
    border: solid;
    border-width: 1px;
    border-color:#fff;
    width:30%;
    height:100%;
    padding:10px 10px 10px 10px;
}