form{
    color:fff;
    margin-top: 75px;
    margin-left: 27%;
}
#form{
    width:100%;
}

input{
    //border-radius: 20px;
    margin-top:20px;
}

h3{
    font-weight: 800;
    color:#fff;
    font-size:medium;
}

li{
    margin-left: 25px;
}

ul,p{
    color:#999;
    list-style-type: disc;
}

#header{
    width:100%;
    height:30px;
    background-color: #999;
    border-radius: 7px;    
    font-weight: 800;
    text-align: center;
    color:#000;
    font-size: 17px;
}

#formula{
    color:#fff;
    font-size: xx-large;
}

#resultContainer{
    color:#fff;
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

#result{
    margin-top: 20px;
}

#resultExplanation{
    font-size: medium;
    text-align: left;
    margin-top: 50px;
}

#calc{
    padding: 50px 50px 50px 50px;
    border: solid;
    border-width: 1px;
    border-color:#333;
    width:30%;
    height:100%;
    padding:0px 0px 10px 0px;
    float:left;
    margin:60px 20px 20px 20px;
}


#clearButton{
    margin-left: 20px;
}

#submitButton{
    float:left;
}

#description{
    width:30%;
    border: solid;
    border-width: 1px;
    border-color:#333;
    float:left;
    height:100%;
    margin:60px 20px 20px 20px;
    padding:30px 10px 10px 30px;

}


#adSpace{
    width:30%;
    height:100%;
    float:right;
    padding:10px 10px 10px 10px;
    color:#333;
    margin-top: 60px;
}

#ad1{
    border: solid;
    border-width: 1px;
    border-color: #999;
    width:100%;
    height:50%;
}

#ad2{
    border: solid;
    border-width: 1px;
    border-color:#999;
    width:100%;
    height:50%;
}

button{
    margin-top:30px;
}