@tailwind base;
@tailwind components;
@tailwind utilities;


#content{
    width:100%;
    padding-top:10px;
}

#trainChart, #testChart{
    width:50%;
}

#trainChart{
    float:left;
}

#testChart{
    float:right;
}

#paragraphs{
    width:100%;
    color:#999;
}

#testDescription{
    float:right;
    width:45%;
    padding: 30px 30px 30px 30px;
    margin-left: 10px;
    margin-right:10px
    
}

#trainDescription{
    float:left;
    width:45%;
    padding: 30px 30px 30px 30px;
    margin-left: 40px;
    margin-right:10px
}



