@tailwind base;
@tailwind components;
@tailwind utilities;


#content{
    width:100%;
    padding-top:10px;
}

#trainChart, #testChart{
    width:50%;
    //margin: 35px auto;

}

#trainChart{
    float:left;
}

#testChart{
    float:right;
}

#paragraphs{
    width:100%;
    color:#999;
}

#testDescription{
    float:right;
    width:50%;
    padding: 30px 30px 30px 30px;
}

#trainDescription{
    float:left;
    width:50%;
    padding: 30px 30px 30px 30px;
}



