body{
    margin-bottom:300px;
    background-color: black !important;

}

#trainingSection {
    background-color: blue;
    color: white;
}

canvas{
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-color: red;
}

#testing, #training{
    width:40%;
    padding-left: 100px;
    
}

h2{
   color: white;
}



