form{
    padding-left:100px;
    padding-top: 100px;
}

button{
    background-color: #43e8d8;
    font-weight: 600;
}

button:hover{
    background-color: #fff;
    color:#43e8d8;
    outline: #43e8d8;
}

button::selection{
    outline:none;
}

select{
    background-color: #43e8d8;
    font-weight: 600;
}

select:hover{
    background-color: #fff;
    color:#43e8d8;
    outline: #43e8d8;
}

select::selection{
    outline:none;
}


#table{
    padding-left:10%;
    padding-top: 50px;
    width: 80%;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid;
}

th,  td{
    padding: 10px 10px 10px 10px;
}

#search{
    margin-left:50px;
}

label{
    font-weight: bold;
}

.sideLabels{
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

table{
    color:#fff;
}

.gasText{
    color:#f757f5;
}

.cpiText{
    color:#43e06d;
}

.crudeOilText{
    color: #42bde3;
}

.oilText{
    color:#e35d42;
}
