@media screen and (max-width: 768px)
{
   form{
    margin-left: 10px;
   }

   #selectToMonth{
    margin-top: 20px;
   }
}

@media screen and (min-width: 768px)
{
    form{
        margin-left:100px;
    }
}

form{

    margin-top: 100px;
}

button{
    background-color: #43e8d8;
    font-weight: 600;
}

button:hover{
    background-color: #fff;
    color:#43e8d8;
    outline: #43e8d8;
}

button::selection{
    outline:none;
}

select{
    background-color: #43e8d8;
    font-weight: 600;
}

select:hover{
    background-color: #fff;
    color:#43e8d8;
    outline: #43e8d8;
}

select::selection{
    outline:none;
}


#table{
    padding-top: 50px;
    width: 80%;
    margin-bottom: 50px;
    margin-left:50px;
}

table{
    width:100%;
}

tr:nth-child(even) {
    background-color: #43e8d8;
    color:#000;
}

tr:nth-child(odd){
    background-color: #fff;
    color: #000;
}

table, th, td{
    border-collapse: collapse;
    //border: 1px solid #333;
}


th,  td{
    padding: 10px 10px 10px 10px;
}

#search{
    margin-left:50px;
}

label{
    font-weight: bold;
}

.sideLabels{
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

.gasText{
    color:#f757f5;
}

.cpiText{
    color:#43e06d;
}

.crudeOilText{
    color: #42bde3;
}

.oilText{
    color:#e35d42;
}


apex-grid{
    display:none;
    background-color: #fff;
}
