form{
    padding-left:100px;
    padding-top: 100px;
}
#table{
    padding-left:10%;
    padding-top: 50px;
    width: 60%;
}

#search{
    margin-left:50px;
}

label{
    font-weight: bold;
}

.sideLabels{
    color: #fff;
}

table{
    color:#fff;
}

.gas{
    color:beige;
}

// button{
//     padding-left: 50px;
//     padding-right: 50px;
// }

