@media screen and (max-width: 768px)
{
    #gasChart, #cpiChart, #oilProdChart, #crudeOilChart{
        width:100%;
    }
    #charts{
        display:inline-block;
        width:100%;
    }

    #allChart{
        width:100%;
        height: 50%;
    }

    #description{
        width:100%;
    }

    #tableContainer{
        width:100%;
    }

    #boxplot{
        width:100%;
    }
}

@media screen and (min-width: 768px)
{
    #oilProdChart,#gasChart{
        float: left;
     }
     
     #crudeOilChart,#cpiChart{
         float:right;
     }

     #gasChart, #cpiChart, #oilProdChart, #crudeOilChart{
        width:50%;
    }

    #allChart{
        width: 60%;
        height: 30%;
    }

    #description{
        width:60%;
        margin-left:40px;
    }

    #tableContainer{
        width:60%;
        margin-left:40px;
    }

    #boxPlot{
        width:50%;
        margin-left:0px;
        padding-left:0px;
        float:left;
    }
}

li{
    text-decoration: none;
}

#description{
    color:#999;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
}

#default-styled-tab-content{
    height: 100%;
   
}
#chart {
    max-width: 650px;
    margin: 35px auto;
    border-style: solid;
    border-width:1px 1px 1px 1px;
    border-color: #333;
  }

mat-tab label  {
    color: #7ad7f0;
}

#tableContainer{
    height:50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

table, th, td {
    border: 1px solid;
  }

table{
    width:100%;
    height:100%;
    border-collapse: collapse;
}

thead, tr, td{
    color:#000;
}

tr{
    padding: 30px 30px 30px 30px;
}

tr:nth-child(even) {
    background-color: #43e8d8;;
}

tr:nth-child(odd){
    background-color: beige;
}

#allChart{
    padding-top:30px;
    padding-left:20px;
}