mat-tab-group{
    padding-top:5%;
    padding-bottom: 5%;
    border-style: solid;
    border-width:1px 1px 1px 1px;
    border-color: #333;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
    border-style: solid;
    border-width:1px 1px 1px 1px;
    border-color: #333;
  }

.active-focus-label-text-color{
    color:#fff;
}

mat-tab label  {
    color: #7ad7f0;
}

#boxplot {
    background-color: yellow;
}

thead, tr, td{
    color:#fff;
}

tr:nth-child(even) {
    background-color: lightcyan;
}

#gasChart, #cpiChart, #oilProdChart, #crudeOilChart{
    width:100%;
    margin: 35px auto;
}