
#content{
    width:100%;
    padding-top:10px;
}

#paragraphs{
    width:100%;
}
#trainDescription{
    float:left;
    width:50%;
    padding: 30px 30px 30px 30px;  
}

#testDescription{
    float:right;
    width:50%;
    padding: 30px 30px 30px 30px;
}

#chart {
    //max-width: 650px;
    width:50%;
    //margin: 35px auto;
    float:left;
  }

  #testChart {
   //max-width: 650px;
    width: 50%;
    float:right;
    //margin: 35px auto;
  }

  





