@media screen and (max-width: 768px)
{
    #content{
        display:inline-block;
    }

    #chart{
        width:100%;
    }

    #trainDescription{
        width:100%;
        margin-right:0px;
        margin-left:0px;
    }
}

@media screen and (min-width: 768px){
    // #content{
    //     width:100%;
    // }

    #chart {
        width:50%;
        float:left;
      }

    #trainDescription{
        float:left;
        width:50%;
        margin-right:10px;
        margin-left:10px;
    }
}

#content{
    width:100%;
    margin-top:10px;
}

#paragraphs{
    width:100%;
    color:#999; 
}

#trainDescription{
    float:left;
    padding: 30px 30px 30px 30px; 
}

  





